#pane{
    -fx-background-image: url("../resources/bk4.jpg");
    /*-fx-background-repeat: stretch;*/
    -fx-background-size: 900 600;
    /*-fx-background-position: center center;*/
    /*-fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);*/
} 